.form {
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  border: black 1px solid;
  border-radius: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px;

  border: black 1px solid;
  border-radius: 10px;
}
